.drawer {
    position: fixed;
    padding: 20px;
    top: 0;
    right: -440px;
    width: 400px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}
  
.drawer.open {
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    right: 0;
}

.drawer .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2em;
}

.drawer .cart-header>button {
    border: none;
    font-size: 1.5em;
    color: black;
    background-color: white;
    opacity: .75;
    transition: opacity 300ms ease, color 300ms ease;
}

.drawer .cart-header>button:hover {
    color: red;
    opacity: 1;
    cursor: pointer;
}

.drawer .cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

@media (max-width: 640px) {
    .drawer {
        right: -320px; 
        width: 280px;
    }
}