.product-item {
    background-color: #fff;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 0 1em rgb(201, 201, 201);
}

.product-item-thumb {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-item-thumb img{
    width: 200px; 
}

.product-item-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: .8em;
} 

.product-item-info p {
    font-size: 2em;
}

.product-item-info span {
    color: #00000080;
}