.color-white{
    color: white;
}

.logo:hover {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    background-color: #764ABC;
    padding: 0.6em 1.5em 0.6em 1.5em;
}

.buttons {
    display: flex;
    gap: .3em;
}


.form-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input h2 {
    margin-right: 1em;
}

.form-control input {
    color: white;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    padding: .5em;
    border: 1px solid white;
    background-color: #764ABC00;
    border-radius: 10px 0px 0px 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-control input::placeholder{
    color: white;
}

.form-control {
    display: flex;
}

.form-control.sm {
    display: none;
}

.form-control button {
    flex-grow: 1;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    border: 1px solid white;
    width: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-control button:hover {
    border: 1px solid #e7e7e7;
    cursor: pointer;
    background-color: #e7e7e7;
}


.form-control button>img {
    width: 25px;
}

.form-input input:focus {
    background-color: #ffffff25;
    outline: none;
}

.form-input input:not(:focus) {
    border-color: white;
    background-color: #764ABC00
}

.header-function {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-radius: 100%;
    transition: background-color 250ms ease;
}


.buttons img {
    filter: invert(100%);
    width: 32px;
}



.buttons a:hover {
    cursor: pointer;
    background-color: #00000025;
}




@media (max-width: 640px) {
    .form-control.lg {
        display: none;
    }

    .form-control.sm {
        margin-top: .3em;
        margin-bottom: .3em;
        display: flex;
    }

    .sm input {
        width: 80%;
    }
}